body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.home{
  background-color: #1ABC9C;
}

.cont {
  position: relative;
}
.cont::after{
position: absolute;
content: "";
background-color: white;
right:50px;
top: 40%;
height: 4px;
width: 100px;

}
.cont::before{
position: absolute;
content: "";
background-color: white;
left:50px;
top: 40%;
height: 4px;
width: 100px;

}
.social{
  display: flex;
  justify-content: center;
  gap: 20px;
}

 .social i{
  
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  font-size: 20px;
  padding: 10px;
}
.footer{
  background-color: #2C3E50;
  color: white;
}
.navbar{
  background-color: #2C3E50;
 
}
.navbar .nav-link{
  color: white;
 
}
.navbar .navbar-brand{
  color: white;
 
}

.copy{
  background-color: #1A252F;
}

.about{
  background-color:  #1ABC9C;;
}



.before{
  background-color: white;
  width: 100px;
  height: 5px;
}
.after{
  background-color: white;
  width: 100px;
  height: 5px;
}
.before2{
  background-color: #2C3E50;
  width: 100px;
  height: 5px;
}
.after2{
  background-color: #2C3E50;
  width: 100px;
  height: 5px;
}


.portfolio .item{
   overflow: hidden; 
}

.layer{
  position: absolute;
  background-color: #4A9A8B;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  opacity: 0;
  
}
.layer .plus{
  font-size: 70px;
  color: white;
}

.portfolio .item:hover .layer{
  opacity: 0.8;
}
.outer{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 255, 0.247);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.inner{
  width: 50%;
  /* background-color: red; */
  height: 50%;
  
}

.colseX{
  position: absolute;
  top: 0;
  right: 0;
}

.nameEl{
  border: none;
  border-bottom: 1px solid #77777798;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}
.nameEl:focus{
 
  outline: none;
  
  
}
/* .labelname{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
} */


.active{
 background-color: #1ABC9C;
 color: white !important;
 border-radius: 15px;
}

.nav-link{
  width: fit-content;
  padding: 8px;
}

.ageEl{
  border: none;
  border-bottom: 1px solid #77777798;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}
.ageEl:focus{
 
  outline: none;
  
  
}
.emailEl{
  border: none;
  border-bottom: 1px solid #77777798;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}
.emailEl:focus{
 
  outline: none;
  
  
}
.passEl{
  border: none;
  border-bottom: 1px solid #77777798;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}
.passEl:focus{
 
  outline: none;
  
  
}

.labelname{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.4s;
  color: #1ABC9C;
}
.labelage{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.4s;
  color: #1ABC9C;
}
.labelemail{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.4s;
  color: #1ABC9C;
}
.labelpass{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.4s;
  color: #1ABC9C;
}

.message{
  background-color: #1ABC9C;
  color: white !important;
  
}
.message:hover{
  background-color: #1ABC9C;
  color: white !important;
  
}

.para{
  font-size: 16px !important;
}



.fa-x{
  color: white ;
  font-size: 30px;
  right: 0;
  position: absolute;
  top: -30px;
 
}

.modal-body{
  padding: 0;
}

.navbar{
  transition: 0.5s;
 
}

.head{
  margin-top: 70px;
}

.icon{
  font-size: 25px;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px;
}